.captify-skin-captify_text .caption-top, .caption-bottom 
{
    background-color: Black;
     color: White;
     cursor:default;
     padding:50px;
     font-size:30px;
     text-align:left;
     font-family: Sans-Serif;
     
}
 
.captify-skin-captify_text .caption-top {
     border-width:0px;
}
 
.captify-skin-captify_text .caption-bottom {
     border-width:0px;
}
 
.captify-skin-captify_text .caption a, .caption a {
     background:#000;
     border:none;
     text-decoration:none;
     padding:2px;
}
 
.captify-skin-captify_text .caption a:hover, .caption a:hover {
     background:#202020;
}