body
{
    font-family: sans-serif;
	font-size: 13px;
}	

#header
{
    font-family: sans-serif;
    margin-left:200px;
    margin-right:200px;
}

#logindisplay
{
    font-size: 10px;
    text-align: right;
    background-color:White;
    padding:0px;
}

#logindisplay ul
{
    list-style: none;
}

#logindisplay li
{
    text-decoration:none;
    padding: 0px;
}


#title
{
    font-family: Sans-Serif;
    font-size: 25px;
    text-align:center;
}

#title a
{
    color:black;
    text-decoration:none;
}

#title :hover
{
    color:#C0C0C0;
    text-decoration:none;
}

#leftpane
{
float:left;
height:100%;
background-color:#009900;
margin:auto;
text-align:center;
}

#middlepane
{
height:100%;
width:960px;
background-color:white;
margin:auto;
text-align:left;
}

#rightpane
{
float:right;
height:100%;
background-color:#990000;
margin:auto;
text-align:center;
}


#main
{

}

h1
{
    padding:0px;
    margin:0px;
}

h2
{
    padding:0px;
    margin:0px;
    color:#A00000;
}

#menu
{
    padding::0px;
    margin: 0;
    text-align: right;
    font-weight: bold;
}

.mainmenu
{
    display:inline;
    list-style: none;
    text-decoration: none;
}

.mainmenu a
{
    color:#181818;
    color:Gray;
    text-decoration:none;
}

.mainmenu :hover 
{
    color: #C0C0C0;
    text-decoration: none;
}

#footer
{
    text-align:center;
}

#testimonialtable
{
    font-size:20px;
    padding: 10px;
    text-align:left;
}

#PortfolioSummaryItem a
{
    text-decoration: none;
}

#PortfolioFullItem
{
    width:550px;
    margin: 0px auto;
}

#aboutme
{
    text-align:left;
    width:550px;
    margin: 0px auto;
}

#contact-me
{
    width:300px;
    margin: 0px auto;
}

#thank-you
{
    text-align:left;
    width:550px;
    margin: 0px auto;
}

#mrc
{
    text-align:center;
    padding:1px;
    margin:0px;
    font-size:13pt;
    font-weight:bold;
}

#FrontPageText
{
    text-align:center;
}

.editor-field-message textarea
{
    width:300px;
    height:200px;
}

.editor-field-contact input
{
    width:300px;
}

.field-validation-error
{
    color:Red;
}

hr
{
    color: red;
    background-color: #B80000;
    height: 1px;
    width:100%;
}