body
{
    font-family: sans-serif;
	font-size: 13px;
}	

#header
{
    font-family: sans-serif;
}

#logindisplay
{
    font-size: 10px;
    text-align: right;
    color: Blue;
    text-decoration: none;
}

/*title */
#title
{
    background-color: #181818;
    color: White;
    font-family: Sans-Serif;
    font-size: 25px;
}

#title a
{
    color:White;
    text-decoration:none;
}

#title :hover
{
    color: #C0C0C0;
    text-decoration:none;
}

h1
{
    padding:0x 0px 0px 0px;
    margin:0px;
}

h2
{
    padding:0px;
    margin:0px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu 
{
    padding: 0 0 0px;
    position: relative;
    margin: 0;
    text-align: right;
    font-weight: bold;
}

/*ul#menu*/
li 
{
    display: inline;
    list-style: none;
}

/*ul#menu*/
li a
{
    color:#181818;
    text-decoration:none;
}


/*ul#menu*/
li :hover 
{
    color: #C0C0C0;
    text-decoration: none;
}

#footer
{
    text-align:center;
}