@{
    ViewBag.Title = "About Me";
}

<div id = "aboutme">
<h2>About Me</h2>
<center>
    <img src="../../Content/themes/base/images/MatthewRichardCross.jpg" />
</center>
   <h3>
        <p>
                My name is Matthew Cross.
                Since 2006 my work has been installing quality kitchens for private clients in Bristol & surrounding areas and as far as London.
        </p>
        <p>
                If you are considering a new kitchen you should contact me now. I can help with the design, supply and installation.
                You can purchase your kitchen from any retailer and I can provide a complete installation service. 
                However it's best to contact me prior to making your purchase. I'm sure I can save you money and help create an amazing kitchen.
       </p>
   </h3>
</div>