@model IEnumerable<MatthewRichardCrossServices.Models.PortfolioSummaryItem>
@{
    ViewBag.Title = "Matthew Richard Cross Services";
}

<table>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotographLocation)
        </td>
    </tr>
}

</table>