@model IEnumerable<MatthewRichardCrossServices.Models.PortfolioSummaryItem>
@{
    ViewBag.Title = "MC Property  Services";
}

<table>
<tr>
<td>
    <div id = "PortfolioSummaryItem">
        <ul id="picture-carousel-summary" class="mycarousel jcarousel-skin-ie7">
                @foreach(var item in Model)
                {
                    <li>
                        <a href="@Url.Action("../PortfolioFullItem/IndexBySummary", new { SummaryItemId = item.Id })" title = "Click Me">
                        <img src=@Html.DisplayFor(modelItem => item.PhotographLocation) width="100%" height="100%" 
                        alt="@Html.DisplayFor(modelItem => item.DescriptionText)"
                        class="mycaptify captify-skin-captify_text"/></a>
                    </li>
                }
        </ul>
    </div>
</td>
<td>
<div id = "FrontPageText">
<h3>
Covering Bristol, Bath and the surrounding areas, MC Property  Services  offer a convenient solution for all of your property needs:<br />
<br />
Call us to discuss:<br />
<br />
Bathrooms<br />
Kitchens<br />
Plastering<br />
Decoration<br />
Tiling<br />
Floor Sanding<br />
Rooofing<br />
Plumbing<br />
Rendering<br />
Exterior works<br />
<br />
We offer a personal service and will always keep you informed of the progress of the works with no nasty surprises in the cost at the end of the job.
</h3>
</div>
</td>
</tr>
</table>