@model IEnumerable<MatthewRichardCrossServices.Models.PortfolioSummaryItem>
@{
    ViewBag.Title = "Matthew Richard Cross Services";
}

<ul id="picture-carousel" class="mycarousel jcarousel-skin-ie7">
    @foreach(var item in Model)
    {
        <li>
            <div>
                <img src=@item.PhotographLocation width="100%" height="480" alt=@Html.DisplayFor(modelItem => item.DescriptionText) class="captify"/>
            </div>
        </li>
    }
</ul>

<table>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhotographLocation)
        </td>
    </tr>
}
</table>