@model IEnumerable<MatthewRichardCrossServices.Models.PortfolioFullItem>
@{
    ViewBag.Title = "Portfolio Items";
}

<div id = "PortfolioFullItem">
    <ul id="picture-carousel-item" class="mycarousel_item jcarousel-skin-item">
        @foreach (var item in Model)
        {
            <li>
                <img src=@Html.DisplayFor(modelItem => item.PhotographLocation) width="550px" height="550px" 
                alt="@Html.DisplayFor(modelItem => item.DescriptionText)"
                class="mycaptify captify-skin-captify_text"/>
            </li>
        }
    </ul>
</div>